.addTask {
    background-color: var(--component-bgc);
    border-radius: 10px;
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, 0);
}

[type="checkbox"] {
    opacity: 0;
}

[type="checkbox"]+label {
    position: relative;
    padding-left: 15px;
    cursor: pointer;
    display: inline-block;
    margin-top: 24px;
}

[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid var(--text-inactive);
    ;
    background-color: transparent;
    border-radius: 50%;
}

[type="checkbox"]:checked+label::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid var(--text-inactive);
    background-image: var(--check-background);
    border-radius: 50%;
}

[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border: 1px solid var(--text-inactive);
    background-image: url(../images/icon-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.addTask input#text {
    border: none;
    background-color: transparent;
    width: 600px;
    font-size: 22px;
    color: var(--text-active);
    margin-left: 50px;
}

.addTask input#text:focus {
    outline: none;
}

.addTask input::placeholder {
    color: var(--text-inactive);
}

@media(max-width: 420px) {
    .addTask {
        width: 90vw;
        height: 60px;
        top: 15vh;
        left: 50vw;
        transform: translate(-50%, 0);
    }

    [type="checkbox"]+label {
        padding-left: 6px;
        margin-top: 18px;
    }

    [type="checkbox"]+label::before {
        width: 20px;
        height: 20px;
    }

    [type="checkbox"]:checked+label::before {
        width: 20px;
        height: 20px;
    }

    [type="checkbox"]:checked+label::after {
        width: 20px;
        height: 20px;
    }

    .addTask input#text {
        width: 300px;
        font-size: 14px;
        margin-left: 40px;
    }
}