.filter-wrapper {
    position: absolute;
    top: calc(32vh + 480px);
    left: 50vw;
    transform: translate(-50%, 0);
    width: 600px;
    height: 50px;
    background-color: var(--component-bgc);
    color: var(--text-inactive);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    user-select: none;
    border-radius: 0 0 10px 10px;
}

.filter-wrapper p:nth-child(3) {
    cursor: pointer;
}

.filter-wrapper p:nth-child(3):hover {
    color: var(--text-active);
}

.filter-wrapper .filter-options {
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.filter-wrapper .filter-options input {
    display: none;
}

.filter-wrapper .filter-options label {
    cursor: pointer;
}

.filter-wrapper .filter-options label:hover {
    color: var(--text-active);
}

.filter-wrapper .filter-options [type="radio"]:checked+label {
    color: var(--bright-blue);
}

@media(max-width: 720px) {
    .filter-wrapper {
        top: calc(26vh + 360px);
        left: 50vw;
        transform: translate(-50%, 0);
        width: 90vw;
        height: 50px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;
    }

    .filter-wrapper .filter-options {
        background-color: var(--component-bgc);
        width: 90vw;
        height: 45px;
        border-radius: 10px;
        position: absolute;
        bottom: -9vh;
        left: 0;
        font-size: 16px;
        font-weight: 700;
        justify-content: center;
        align-items: center;
    }

    .filter-wrapper .filter-options label {
        padding: 10px;
    }
}