.filter-wrapper {
    position: absolute;
    top: 80vh;
    left: 50vw;
    transform: translate(-50%, 0);
    width: 600px;
    height: 50px;
    background-color: var(--component-bgc);
    color: var(--text-inactive);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    user-select: none;
    border-radius: 0 0 10px 10px;
}

.filter-wrapper p:nth-child(3) {
    cursor: pointer;
}

.filter-wrapper p:nth-child(3):hover {
    color: var(--text-active);
}

.filter-wrapper .filter-options {
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.filter-wrapper .filter-options input {
    display: none;
}

.filter-wrapper .filter-options label {
    cursor: pointer;
}

.filter-wrapper .filter-options label:hover {
    color: var(--text-active);
}

.filter-wrapper .filter-options [type="radio"]:checked+label {
    color: var(--bright-blue);
}