.task-list {
    background-color: hsl(235, 24%, 19%);
    border-radius: 10px 10px 0 0;
    width: 600px;
    height: 480px;
    max-height: 480px;
    display: grid;
    position: absolute;
    top: 32vh;
    left: 50vw;
    transform: translate(-50%, 0);
    z-index: 2;
    overflow-y: auto;
}

.task {
    height: 80px;
    font-size: 22px;
    border-bottom: 1px solid hsl(237, 14%, 26%);
}

.task p {
    color: hsl(234, 39%, 85%);
    margin-left: 80px;
    user-select: none;
}

.shadow-main {
    z-index: 10;
    /* For some reason box-shadow won't work
    It probably has something to do with z-index */
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(233, 14%, 35%);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(234, 11%, 52%);
}