.task-list {
    background-color: var(--component-bgc);
    border-radius: 10px 10px 0 0;
    width: 600px;
    height: 480px;
    max-height: 480px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
    top: 32vh;
    left: 50vw;
    transform: translate(-50%, 0);
    z-index: 2;
    overflow-y: auto;
}

.task {
    height: 80px;
    font-size: 22px;
    border-bottom: 1px solid var(--text-inactive);
    position: relative;
    transition: 0.2s;
}

.task p {
    color: var(--text-active);
    margin-left: 80px;
    user-select: none;
}

.task p.completed {
    color: var(--text-inactive);
    ;
    text-decoration: line-through;
}

.task img {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    color: var(--text-active);
    cursor: pointer;
    display: none;
    user-select: none;
}

.task:hover img {
    display: initial;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--text-inactive);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(234, 11%, 52%);
}