body {
    background-color: hsl(235, 21%, 11%);
}

.background-image {
    text-align: center;
}

.background-image img {
    z-index: -1;
    width: 100vw;
    height: 33vh;
}

footer {
    position: absolute;
    bottom: 5vh;
    left: 50vw;
    transform: translate(-50%, 0);
    color: hsl(233, 14%, 35%);
}